$fontcolor: black;
$backcolor: rgb(226, 202, 118);
$maincolor: white;
$titlecolor: rgb(189, 139, 74);

* {
    border: 0px solid;
    border-radius: 1em;
    outline:none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $fontcolor;
    background-color: $backcolor;
    max-width: 65em;
    margin: 0 auto;
  
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

form {
    button {
        font-size: 1em;
        border: 1.5px solid black;
        padding: 0.3em;
        margin: 0.5em 0;
    }

    button:hover {
        background-color: $titlecolor;
    }
}

textarea:focus, input:focus{
    outline: none;
    
}

.fa-search {
    transform: rotate(0.27turn);
    margin-right: 0.1em;
}

header {
    margin: 0.5em 0 0 1em;
    padding: 1.5em;
    width: 100%;
    background-color: $fontcolor;  
    
    nav{
              
        ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
        }

        li {
            font-size: 1.4em;
            padding: 0 0.7em;
        }

        a {
            color: $backcolor;
            display: flex;
            align-items: center;
        }

        a:hover {
            color: white
        }

        .label {
            padding-bottom: 0.2em;
        }

        i {
            padding-right: 0.2em;
        }

    }
}

main {
    padding: 0.7em;
    width: 100%;
    margin-top: -1em;
    background-color: $maincolor;
    flex-basis: 85vh;
    flex-grow: 9;
   
    background-image: url("../images/6.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
}

.title {
    background-color: $titlecolor;
    margin-top: -2.5em;
    margin-left: -0.3em;
    max-width: 30%;
    text-align: center;

    h1 {
        color: white;
        font-size: 2.5em;
        padding: 0.1em 0;
    }
}

.search {
    form {
        margin: 1em 0;
    }

    input {
        background-color: $backcolor;
        font-size: 1em;
        border: 1.5px solid black;
        width: 15em;
        padding: 0.2em 0.5em;
    }    
}

.results {
    table {
        margin-top: 0.5em;
        border-collapse: collapse;
        background-color: white;
        * {
            border-radius: 0;
            padding: 0.2em 0.5em;
    
        }

        a { 
            color: brown;
        }

        .row:nth-child(even){
            background-color: $backcolor;
            
        }

        .row:hover {
            background-color: $titlecolor;
        }

        .index {
            text-align: center;
        }
    
        .link {
            font-size: 1.3em;
            padding: 0;
                    
        }
    }
}

.inbook {
    form {
        position: relative;
        min-height: 1.4em;
        
        * {
            color: white;
            background-color: $titlecolor;
        }
        
    }

    input {
        border: 0px solid;
        border-bottom: 1px solid white;
        border-radius: 0;
        font-size: 0.5em;
        width: 90%;
        margin-left: 0.3em;   
    }

    #magnifier {
        border: 0px solid black;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0.1em;
        top: 0;
        font-size: 1.3em;
    }

    i:hover {
        color: brown;
    }

    ::placeholder {
        color: white
    }

}

.score {
    margin-top: 1em;
    width: 22em;
    
    form {
        padding-top: 0.5em;
                
        p {
            margin-bottom: 0.5em;

        }
        textarea {
            margin-bottom: 0.2em;
            font-size: 1.1em;
            padding: 0.5em;
            max-width: 90%;
            min-width: 90%;
            border: 2px solid $titlecolor;
            overflow: hidden;
            min-height: 10em;
            
        }

        button {
            margin-top: 0em;
            width: 90%;
            background-color: $titlecolor;
            color: white;
            font-size: 1.5em;

        }

        button:hover {
            background-color: saddlebrown;
        }

        input[type=radio] {
            opacity: 0;
            position: fixed;
            width: 0;         
            
        }

        label {
            cursor: pointer; 
            display: inline-block;
            background-color: rgb(233, 218, 186);
            padding: 0.1em 0.4em;
            border: 2px solid #444;
            border-radius: 1em;
        }

        label:hover {
            background-color: $backcolor;
        }

        input[type=radio]:checked + label {
            background-color:$titlecolor;
        }
       
        input[type=radio]:focus + label {
            background-color:$titlecolor;
        }

    }
}

.info {
    margin-top: 0.5em;
    * {
        margin-top: 0.3em;
    };
}

.your {
    margin-top: 2em;
    border: 2px solid $titlecolor;
    padding: 0.5em 1em;
    
    .stars {
        text-align: left;
    }

    i {
       font-size: 1.8em;
       color: $titlecolor;
       margin: 0.5em 0;
    }
}


.flex {
    display: flex;
    justify-content: space-between;
 
}

.left {
    flex-basis: 50%;
}

.right {
    border-radius: 0;
    flex-basis: 50%;
    // flex-grow: 1;
    height: 82vh;
    overflow: auto;
    padding-right: 1em;
    
    
}

.comment {
    width: 100%;
    background-color: $backcolor;
    margin-top: 0.5em;
    padding: 1em;
}

.others {
    border: 2px solid $titlecolor;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    background-color: $backcolor;
    
    a {
        text-decoration: none;
        color: chocolate;
        
    }

    .comment {
        background-color: wheat;
    }

    .flex {
        justify-content: flex-start;
        *{
            margin-right: 1em;
        }
    }

    .stars i {
        color: rgba(97, 75, 34, 0.76);
    }

    * {
        margin-bottom: 0.2em;
    }


}


.content {
    max-width: 92%;
    margin: 0 auto;
    padding-top: 0.5em;
    display: block;
    
}


.books {
    display: flex;
    font-size: 0.9em;
    h2 {
        padding-bottom: 0.5em;
    }
    > * {
       padding: 0.5em;
   }
    
   .last {
        background-color: wheat;
        margin-bottom: 2em;
        flex-basis: 80%;
        flex-grow: 2;
        

        article {
            max-width: 78%;
            
        }
        
    }

    .most {
        flex-basis: 20%;
        flex-grow: 1;
        background-color: $titlecolor;
        margin-top: 2em;
        margin-left: -20%;

        

    }
    
    .card {
        border: 2px solid black;
        padding: 0.5em;
        margin: 0.2em 0.1em;
        background-color: wheat;

        a {
            text-decoration: none;
            color: $titlecolor;
            
        }

        h3, .stars {
            margin-bottom: 0.5em;
            padding-bottom: 0.5em;
            border-bottom: 2px solid $titlecolor;
            border-radius: 0;
        }

        h4 {
            margin-bottom: 0.5em;
            padding-bottom: 0.5em;
        }

        strong {
            color: red;
        }

    }

    .horizontal {
        flex-grow: 1;
        border: 2px solid $titlecolor;
        background-color: white;
        
        
        .stars {
            margin-top: 0.1em;
            font-weight: bold;
            color: orange;
        }
    }
    
    .author {
        text-align: right;
    }
}

.login, .register {
    
    p {
        margin-top: 0.5em;
    }

    input {
        border-radius: 0;
        border-bottom: 2px solid $titlecolor;
        margin-right: 2em;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    button {
        margin-top: 1em;
        
    }
}

.register {
    margin-top: 1em;

    .age {
        width: 2.5em;
    }

    #female, #male {
        
        margin: 0 0.2em 2em 1em;
    }

    input {
        font-size: 1em;
    }
    



    .username {
        margin-top: 2em;

        .password {
            margin-left: 0.5em;
        }
        
        .second {
            margin-left: 6em;
            margin-bottom: 2em;
        }
    }

}

footer {
    text-align: right;
    flex-grow: 0;
    // flex-basis: 3em;
    margin: 0.5em 0;
}