<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/1dd5ba606d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><i class="fas fa-book-open"></i><div class="label">Home</div></a></li>
                {% if logged %}
                    <li><a href="{{ url_for('profile') }}"><i class="fas fa-user-graduate"></i><div class="label">Profile</div></a></li>
                    <li><a href="{{ url_for('search') }}"><i class="fas fa-search"></i><div class="label">Search</div></a></li>
                    <li><a href="{{ url_for('log') }}"><i class="fas fa-sign-out-alt"></i><div class="label">LogOut</div></a></li>
                {% else %}
                    <li><a href="{{ url_for('log') }}"><i class="fas fa-sign-in-alt"></i><div class="label">LogIn</div></a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
   <div class="body">
        <main>
            <div class="title"><h1>{% block heading %}{% endblock %}</h1></div>
            <article class="content">
                {% block body %}{% endblock %}
            </article>
        </main>
        
        <footer>
            <p>All rights reserved 2020 ®</p>
        </footer>
   </div>
</body>
</html>