{% extends "layout.html" %}

{% block heading %}
    <h1>Register your username</h1>
{% endblock %}

{% block body %}
    <p>Please enter your name, age and gender bellow:</p>
    <form action="{{ url_for('register') }}" method="post">
        <p><input type="text" name="name" placeholder="Your name here:" autofocus></p>
        <p>Age: <input type="number" name="age" min="1" max="100"></p>
        <p>Gender: <input type="radio" id="female" name="gender" value="female"><label for="female"><i class="fas fa-female"></i> <i class="fas fa-venus"></i></label>  <input type="radio" id="male" name="gender" value="male"><label for="male"><i class="fas fa-male"></i> <i class="fas fa-mars"></i></label> </p>
        <p>Please choose your username and password. Should be more than 4 symbols and consist of letters and digits only.</p>
        <p><input type="text" name="username" placeholder="username"> <span class="error">{{ username_problem }}</span></p>
        <p><input type="password" name="password_1" placeholder="password"> <span class="error">{{ password_problem }}</span></p>
        <p><input type="password" name="password_2" placeholder="password"></p>
        <button name="registered" value="True">Register</button>
    </form>
{% endblock %}
